<p>dashboard works!</p>
<div class="card" style="width: 18rem;">
  <img src="https://img.icons8.com/pastel-glyph/64/000000/cow-breed.png" class="card-img-top" alt="vache">
  <div class="card-body">
    <h5 class="card-title">Nombre de vaches</h5>
    <p class="card-text">Ration calculé pour X vaches</p>
    <a href="#" class="btn btn-primary">Fiche des vaches</a>
  </div>
</div>
<div class="containerDash">
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="https://img.icons8.com/cute-clipart/64/000000/corn.png" alt="maïs" />
    <div class="card-body">
      <h5 class="card-title">Ration Maïs</h5>
      <p class="card-text">Donner la ration de Maïs depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/image/colza.jpg" alt="colza" />
    <div class="card-body">
      <h5 class="card-title">Ration colza</h5>
      <p class="card-text">Donner la ration de colza depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/image/paille.JPG" alt="paille" />
    <div class="card-body">
      <h5 class="card-title">Ration paille</h5>
      <p class="card-text">Donner la ration de paille depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="https://img.icons8.com/dusk/64/000000/salt.png" alt="sel" />
    <div class="card-body">
      <h5 class="card-title">Ration sel</h5>
      <p class="card-text">Donner la ration de sel depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/image/bicarbonate.jpg" alt="bicarbonate" />
    <div class="card-body">
      <h5 class="card-title">Ration bicarbonate</h5>
      <p class="card-text">Donner la ration de bicarbonate depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/image/calcium.jpg" alt="calcium" />
    <div class="card-body">
      <h5 class="card-title">Ration calcium</h5>
      <p class="card-text">Donner la ration de calcium depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
  <div class="cardDash" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/image/mineral.jpg" alt="mineral" />
    <div class="card-body">
      <h5 class="card-title">Ration mineral</h5>
      <p class="card-text">Donner la ration de mineral depuis le ration component</p>
      <a href="#" class="btn btn-primary">ref ou composition ou plus d'info disponible</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>