<h4>Information sur le GAEC</h4>
<a href="https://www.societe.com/etablissement/gaec-toublanc-turban-81201969300017.html" target="_blank" >gaec-toublanc-turban</a>
<br>
<h4>Plan de la ferme</h4>
<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="https://www.geoportail.gouv.fr/embed/visu.html?c=-3.0090584683460473,48.56205681446096&z=17&l0=ORTHOIMAGERY.ORTHOPHOTOS::GEOPORTAIL:OGC:WMTS(1)&l1=CADASTRALPARCELS.PARCELLAIRE_EXPRESS::GEOPORTAIL:OGC:WMTS(1)&l2=LANDUSE.AGRICULTURE2018::GEOPORTAIL:OGC:WMTS(0.6)&permalink=yes" allowfullscreen></iframe>
