<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a routerLink="/acceuil" class="navbar-brand">FoodRation</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavBar()" [attr.aria-expanded]="showNav"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="showNav" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/acceuil" class="nav-link" routerLinkActive="active">Acceuil</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a routerLink="/ration" class="nav-link" routerLinkActive="active">Calcul de ration</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">feuille de route</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a routerLink="/vache" class="nav-link" routerLinkActive="active">présentations des vaches</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a routerLink="/http" class="nav-link" routerLinkActive="active">Data à suivre</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li *ngIf="authenticated" class="nav-item">
          <a routerLink="/calculatrice" class="nav-link" routerLinkActive="active">Calculatrice</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLink="/info" target="_self">
           Docs
          </a>
        </li>
        <li *ngIf="authenticated" ngbDropdown placement="bottom-right" class="nav-item">
          <a ngbDropdownToggle id="userMenu" class="nav-link" href="javascript:undefined" role="button" aria-haspopup="true"
            aria-expanded="false">
          </a>
          <div ngbDropdownMenu aria-labelledby="userMenu">
            <h5 class="dropdown-item-text mb-0">{{user.displayName}}</h5>
            <p class="dropdown-item-text text-muted mb-0">{{user.email}}</p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:undefined" role="button" (click)="signOut()">Sign Out</a>
          </div>
        </li>
        <li *ngIf="!authenticated" class="nav-item">
          <form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
<!--             <input type = "text" name = "email" placeholder = "email" ngModel>
            <br/>
            <input type = "password" name = "pwd" placeholder = "password" ngModel> -->
            <br/>
            <input type = "submit" value = "connexion" (click)="toggleForm()">
          </form>

        </li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
