<div class="jumbotron">
  <h1>Ration pour vaches laitières, génices et taries</h1>
  <div *ngIf="authenticated">vous êtes authentifié</div>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img src="assets\image\tarie.jpg" class="card-img-top" alt="laitière">
  <div class="card-body">
    <h5 class="card-title">Ration pour vaches laitières</h5>
    <p class="card-text">Calcul de rations spécifiques pour les vaches laitières.</p>
    <a routerLink="/ration" class="btn btn-primary">Calcul</a>
  </div>
</div> -->

<!-- <div *ngFor="let culture of cultures" class="card" style="width: 18rem;">
  <div class="card-body">
    <h1>{{culture.idMetier}}</h1>
    <p>{{culture.libelle}}</p>
    <p>{{culture.groupeCultures.idMetier}}</p>
    <p>{{culture.groupeCultures.libelle}}</p>
    <p>{{culture.idMetier}}</p>
  </div>
</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">

                  <input matInput placeholder="Company (disabled)" disabled>

                </div>
                <div class="col-md-3">

                  <input matInput placeholder="Username">

                </div>
                <div class="col-md-4">

                  <input matInput placeholder="Email address" type="email">

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                  <input matInput placeholder="Fist Name" type="text">

                </div>
                <div class="col-md-6">

                  <input matInput placeholder="Last Name" type="text">

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <input matInput placeholder="Adress" type="text">

                </div>
              </div>
              <div class="row">
                <div class="col-md-4">

                  <input matInput placeholder="City" type="text">

                </div>
                <div class="col-md-4">

                  <input matInput placeholder="Country" type="text">

                </div>
                <div class="col-md-4">

                  <input matInput placeholder="Postal Code" type="text">

                </div>
              </div>

<router-outlet></router-outlet>
