<div class="jumbotron">
  <h1>Ration pour vaches laitières, génices et taries</h1>
  <div *ngIf="authenticated">vous êtes authentifié</div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets\image\tarie.jpg" class="card-img-top" alt="laitière">
  <div class="card-body">
    <h5 class="card-title">Ration pour vaches laitières</h5>
    <p class="card-text">Calcul de rations spécifiques pour les vaches laitières.</p>
    <a routerLink="/ration" class="btn btn-primary">Calcul</a>
  </div>
</div>

<div  *ngFor="let culture of cultures" class="card" style="width: 18rem;">
  <div class="card-body">
        <h1>{{culture.idMetier}}</h1>
        <p>{{culture.libelle}}</p>
        <p>{{culture.groupeCultures.idMetier}}</p>
        <p>{{culture.groupeCultures.libelle}}</p>
        <p>{{culture.idMetier}}</p>
  </div>
</div>
